/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Quantico-Regular;
  src: url('../fonts/Quantico/Quantico-Regular.ttf');
}
@font-face {
  font-family: Quantico-Bold;
  src: url('../fonts/Quantico/Quantico-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ Paralax ]*/


@media (max-width: 768px) {
  #special-section, #reseller-section {
    background-attachment: scroll !important;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Logo Web ]*/

.hp {
  display: none;
}

.pc img, .hp img {
  top: -5px;
  position: relative;
}
.pc {
  display: block;
}

@media (max-width: 1200px) {
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
}

@media (max-width: 400px) {
.pc {
  display: none;
}

.hp {
  display: block;
}

}
/*//////////////////////////////////////////////////////////////////
[ Sosmed Banner ]*/

.sosmed_banner{
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Back to Top and Chatme ]*/

#ripple {
  background-position: center;
  transition: background 0.8s;
  color: #fff
}
#ripple:hover {
    background: #FF9800 radial-gradient(circle, transparent 1%, #FF9800 1%) center/15000%;
}
#ripple:focus {
    background-color: #FFEB3B !important;
    background-size: 100%;
    transition: background 0s;
    cursor: pointer;
    border: 1px solid #FFEB3B;
    outline: 0;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px #FFEB3B;
}
#ripple:active {
    background-color: #FFEB3B !important;
    background-size: 100%;
    transition: background 0s;
    cursor: pointer;
    border: 1px solid #FFEB3B;
    outline: 0;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px #FFEB3B;
}

.backtop {
    position: fixed;
    z-index: 999;
    right: 3%;
    bottom: 3.5rem;
    display: none;
    padding: 14px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.backtop span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bantuan {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    border-radius: 10px 10px 0 0;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 3%;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
}

/*//////////////////////////////////////////////////////////////////
[ RS Flip Clock ]*/
.flip-clock-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0;
}

.flip-clock-wrapper .flip {
  box-shadow: none;
  margin-bottom: 80px;
}

.flip-clock-wrapper ul {
  position: relative;
  float: unset;
  margin: 3px;
  width:50px;
  height: 80px;
  font-size: 36px;
  font-weight: unset;
  line-height: unset;
  border-radius: 10px;
  background: #0d1629;
}

.flip-clock-wrapper ul li {
  line-height: unset;
}

.flip-clock-wrapper ul li a div {
  outline: none;
}

.flip-clock-wrapper ul li a div div.inn {
  font-family:  Quantico-Regular;
  color: #fff;
  font-size: 70px;
  font-weight: unset;
  text-align: unset;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  text-shadow: 0 0px 0px #000;
  background-color: #0d1629;
  border-radius: 10px;
}

.flip-clock-wrapper ul li a div .shadow {
  border-radius: 10px;
}

.flip-clock-wrapper ul li a div.up:after {
  display: none;
}

/*---------------------------------------------*/
.flip-clock-divider {
  display: block;
  float: unset;
  position: relative;
  width: 30px;
  height: 80px;
}

.flip-clock-divider span {
  display: none;
}

.flip-clock-divider::before {
  content: ":";
  font-family: Quantico-Bold;
  color: #fff;
  font-size: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flip-clock-divider.days::before {
  display: none;
}

.flip-clock-divider::after {
  font-family: Quantico-Bold;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;

  display: block;
  text-align: center;
  width: 120px;
  position: absolute;
  left: 100%;
  top: 100%;
  padding-top: 23px;
}

.flip-clock-divider.days::after {
  content: "Hari";
}

.flip-clock-divider.hours::after {
  content: "Jam";
}

.flip-clock-divider.minutes::after {
  content: "Menit";
}

.flip-clock-divider.seconds::after {
  content: "Detik";
}

@media (max-width: 775px) {
  .flip-clock-wrapper {
    max-width: 270px;
    margin: 0 auto;
  }

  .flip-clock-divider.days {
    width: 10px;
  }


  .flip-clock-divider.minutes {
    width: 10px;
  }

  .flip-clock-divider.minutes::before {
    display: none;
  }
}

@media (max-width: 576px) {
  .flip-clock-wrapper {
    margin: 0 auto;
  }
}
